# To check if this submodule is up-to-date, use these commands:
# git submodule status alto_os     # Shows status with commit hash
# git submodule update --remote alto_os    # Updates to latest remote commit
# git submodule foreach git pull origin dev    # Pulls latest changes for dev branch
[submodule "alto-dash"]
	path = alto-dash
	url = https://github.com/AltotechTH/alto-dash.git
	branch = dev
[submodule "alto-cero-interface"]
	path = alto-cero-interface
	url = https://github.com/AltotechTH/alto-cero-interface.git
[submodule "alto-cero-automation-backend"]
	path = alto-cero-automation-backend
	url = https://github.com/AltotechTH/alto-cero-automation-backend.git
    branch = dev
